.audioplaylist > audio, .audioplaylist > ul {
    background-color: #666;
    width: 400px;
    margin: 0;
    padding: 0;
}

.audioplaylist > audio {
    display: block;
}

.audioplaylist > ul {
    list-style-type: none;
}

.audioplaylist > ul li a {
    text-decoration: none;
    color: #EEEEDD;
    background-color: #333;
    padding: 7px;
    display: block;
}
.audioplaylist > ul li a:hover {
    color: #333;
    background-color: #AAAA99;
}
.audioplaylist > ul .active a {
    background-color: #3E3E3E;
}
